<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arama Sayfası</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2 class="mt-5">Makale Arama</h2>
    <form action="/search" method="post">
        <div class="form-group">
            <label for="query">Arama Terimi:</label>
            <input type="text" class="form-control" id="query" name="query" required>
        </div>
        <button type="submit" class="btn btn-primary">Ara</button>
    </form>
</div>
</body>
</html>
